<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Shitter is a shitty attempt at building Twitter from scratch.  This project is the first step in my journey in learning how to code shit.
</p>