<footer class="footer">
  <small>
    Shitter by
    <a href="http://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=0CEcQFjAA&url=http%3A%2F%2Fwww.linkedin.com%2Fpub%2Fevan-dorfman%2F28%2F459%2F2a3&ei=Ql4oUP7bOqiC6AHXuYHgCA&usg=AFQjCNHhxSFF-mVvS2NJpxJOOEEcf-5xWg&sig2=5f2uGYVhzrAK1pMBf9zb0w
    ">Evan Dorfman</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>